<header class="masthead">
  <div class="masthead__container">
    <a href="/" class="masthead__logo">
      <img src="/img/logo.svg" alt="Berst Logo">
    </a>
    <p class="masthead__contact reveal-hidden">
      <span>Get in touch</span>
      <a href="mailto:hello@ber.st">hello@ber.st</a>
    </p>
  </div>
</header>
