<header class="masthead">
  <div class="masthead__container">
    <a href="/" class="masthead__logo">
      {% component "logo" %}
    </a>
    <p class="masthead__contact">
      <span>Get in touch</span>
      <a href="mailto:hello@ber.st">hello@ber.st</a>
    </p>
  </div>
</header>
