{% if slug %}
  {% set item = collections.projects | findBySlug(slug) %}
  {% if item %}
    {% set title = title | default(item.data.title) %}
    {% set img = img | default(item.data.images.teaser) | default(item.data.images.hero) %}
    {% set client = client | default(item.data.client) %}
    {% set services = services | default(item.data.services) %}
    {% set url = url | default(item.url) %}
  {% endif %}
{% endif %}

<a href="{{ url }}" class="teaser{% if class %} {{ class }}{% endif %}">

  <img class="teaser__img" src="{{ img }}">

  <div class="teaser__panel">
    <h4 class="teaser__title">{{ title }}</h4>
    <p class="teaser__client">
      <span>{{ client }}</span>
      {% include "icons/arrow-right.svg" %}
    </p>
    {% if services %}
    <ul class="teaser__services">
    {% for service in services %}
      <li class="teaser__service">{{ service }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</a>
