<div class="testimonial{% if class %} {{ class }}{% endif %}">
  <blockquote class="testimonial__quote">
    <p>{{ quote }}</p>
  </blockquote>
  <div class="testimonial__citation">
    {% if cite.img %}
    <img class="testimonial__face" src="{{ cite.img }}" alt="Picture of {{ cite.name }}">
    {% endif %}
    <div class="testimonial__who">
      <h6 class="testimonial__name">{{ cite.name }}{% if cite.role %}, {{ cite.role }}{% endif %}</h6>
      {% if cite.client %}<span class="testimonial__client">{{ cite.client }}</span>{% endif %}
    </div>
  </div>
</div>
