.article {
  padding: {
    top: 128px;
    bottom: 128px;
  }

  &__title {
    margin-bottom: 50px;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__title {
      margin-bottom: 64px;
    }
  }
}
