.footer {
  background-color: $color-blue-bright;
  color: $color-white;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $color-aquamarine;
  }

  &__container {
    @extend .px-1;
  }

  &__contact {
    @extend .text-intro;
    color: $color-white;
    align-self: center;
    @extend .mb-1;
    // @include span(1, 2, medlarge);
    @include span(1, 3, large);
    @include span(1, 5, xlarge);

    span {
      display: inline-block;
      margin-bottom: 0.7em;
    }

    * + *:before {
      content: '\A';
      white-space: pre;
    }
  }

  &__aside {
    @include span(-3, -1, large);
    @include span(-3, -1, xlarge);
  }

  &__links {
    @extend .heading-s;
    li {
      margin-bottom: 0.4em;
    }
  }

  &__company {
    font-size: 13px;
    @extend .mt-1;
  }

  @media all and (min-width: $breakpoint-large) {
    &__container {
      @include grid();
    }

    &__contact {
      margin-bottom: 0;
    }
  }
}
