.intro {
  padding-top: 64px;
  padding-bottom: 64px;

  &__title {
    font-family: $font-stack-display;
    font-weight: 900;
    font-size: 92px;
    word-spacing: 1000px;
    line-height: 1;
    color: $color-blue-dark;
  }

  &__strapline {
    align-self: end;
    padding-bottom: 18px;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__title {
      @include span(2, 6);
    }
    &__strapline {
      @include span(6);
    }
  }

  @media all and (min-width: $breakpoint-large) {
    &__title {
      @include span(3, 6);
    }
  }
}
