.intro {
  padding-top: 86px;
  padding-bottom: 26px;

  &__container {
    @include grid();
  }

  &__title,
  &__strapline {
    @include span(2, -1, medium);
    @include span(3, -1, large);
  }

  &__title {
    word-spacing: 1000px;
    @extend .heading-personality;
    @include span(2, 5, xlarge);
    @include span(3, 6, xlarger);
  }

  &__strapline {
    margin-top: 3em;
    align-self: end;
    @include font-size(18px, 22px, 26px);
    @include span(5, -1, xlarge);
    @include span(6, -1, xlarger);
  }

  @media all and (min-width: $breakpoint-medium) {
    padding-top: 70px;
    &__strapline {
      margin-top: 2em;
    }
  }

  @media all and (min-width: $breakpoint-large) {
    padding-top: 47px;
  }

  @media all and (min-width: $breakpoint-xlarge) {
    padding-top: 70px;

    &__strapline {
      margin-top: 0;
      padding-bottom: 0.3em;
    }
  }
}
