.intro {
  padding-top: 64px;
  padding-bottom: 64px;

  &__title,
  &__strapline {
    @include span(2, -1, medium);
    @include span(3, -1, large);
  }

  &__title {
    @extend .heading-personality;
    word-spacing: 1000px;
    @include span(3, 6, xlarge);
  }

  &__strapline {
    @include font-size(18px, 22px, 26px);
    align-self: end;
    padding-bottom: 18px;
    @include span(6, -1, xlarge);
  }
}
