.masthead {
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    height: 150px;
  }

  &__logo {
    display: block;
    line-height: 1;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 30px;
    img {
      width: 100%;
    }
  }

  .has-js .layout--home &__logo,
  .has-js .layout--home &__contact {
    visibility: hidden;
  }

  &__contact {
    @include font-size(18px, 20px, 22px);
    margin-left: auto;
    span {
      display: none;
      margin-right: 10px;
    }
  }

  &--aquamarine {
    background-color: $color-aquamarine;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__container {
      height: 120px;
    }
    &__logo {
      top: 60px;
    }
  }

  @media all and (min-width: $breakpoint-large) {
    &__container {
      height: 160px;
    }
    &__logo {
      width: 140px;
      height: 140px;
    }
    &__contact span {
      display: inline-block;
    }
  }

  @media all and (min-width: $breakpoint-xlarge) {
    &__container {
      height: 175px;
    }
  }
}
