.next {
  display: block;
  margin-left: auto;
  // max-width: 360px;
  padding: 80px 0;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &__link {
    // display: flex;
    // align-items: center;
    // font-size: 38px;
    // font-weight: 600;
  }

  &__arrow {
    flex: none;
    width: 84px;
    margin-left: auto;
  }

  &__title {
    color: $color-text;
  }
}
