.overview {
  @include grid();
  @include tween('padding-top', 46px, 58px, 63px);
  background-color: $color-white;
  padding-bottom: 50px;

  &__main {
    @include span(1, -1);
    @include span(1, -3, large);
  }

  &__aside {
    @extend .text-body-s;
    @include span(1, -1);
    @include span(-3, -1, large);
    padding-right: 60px;
    padding-top: 62px;
  }

  &__client {
    @extend .heading-xxl;
    padding-right: 20px;
    margin-bottom: 5px;
    display: block;
  }

  &__title {
    @extend .heading-xxl;
    color: $color-grey-light;
    padding-right: 20px;
  }

  &__title + &__intro {
    margin-top: $grid-gutter-xlarge;
  }

  &__intro {
    @extend .text-intro;
    color: $color-grey-mid;
    padding-right: 20px;
  }

  &__what {
    @extend .heading-m;
  }

  &__meta {
    color: $color-grey-mid;
    margin-top: 1.4em;
    li + li {
      margin-top: 4px;
    }
  }

  &__link {
    display: block;
    margin-top: 1.4em;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

    span {
      text-decoration: underline;
    }
  }

  .icon--arrow {
    width: 17px;
  }

  &__logo {
    display: block;
    max-width: 100%;
    margin-top: 2em;
  }

  @media all and (min-width: $breakpoint-large) {
    &__client,
    &__intro,
    &__title {
      padding-right: 0;
    }

    &__aside {
      padding-top: 82px;
    }
  }
}
