.slat {
  width: 100%;

  &__container {
    max-width: $breakpoint-max;
    margin: 0 auto;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }

  &--alt {
    background-color: $color-grey-lightest;
  }

  @media all and (min-width: $breakpoint-large) {
    &__container {
      padding-left: $grid-gutter-large;
      padding-right: $grid-gutter-large;
    }
  }

  @media all and (min-width: $breakpoint-xlarge) {
    &__container {
      padding-left: $grid-gutter-xlarge;
      padding-right: $grid-gutter-xlarge;
    }
  }
}
