.slat {
  width: 100%;
  @include tween('padding-left', 26px, 54px, 60px);
  @include tween('padding-right', 26px, 54px, 60px);

  &__container {
    max-width: $breakpoint-max;
    margin: 0 auto;
  }

  &--alt {
    background-color: $color-grey-lightest;
  }
}
