<div class="slat slat--alt content content--testimonial reveal-hidden">
  <div class="slat__container content__container">
    {% component 'testimonial', {
      quote: quote,
      cite: cite
    } %}
  </div>
</div>
