---
title: A Venture Design Studio
layout: home
teasers:
  - babylon-health
  - george-jensen
  - babylon-health
---

<div class="slat">
  <div class="slat__container teaser-pair pt-2 mb-1">
    {% component 'teaser.njk', { slug: teasers[0], class: 'reveal-hidden' } %}
    {% component 'teaser.njk', { slug: teasers[1], class: 'reveal-hidden' } %}
  </div>
</div>

<div class="slat slat--alt-corners services mb-1">
  <div class="slat__container services__container">
    <p class="services__intro">
      Using short, sharp, punchy engagements and the best parts
      of Lean Startup, Human–Centered Design and Product Strategy,
      <strong>we help our partners&hellip;</strong>
    </p>
    <div class="services__panel">
      <div class="services__item services__item--identify reveal-hidden">
        {% include 'icons/service-identify.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Vision</h4>
          <p class="services__summary">Identify new opportunities</p>
          <div class="services__detail prose">
            <p>
              All markets have blindspots. People always have unmet needs. We map and explore your space to reveal promising new possibilities.
            </p>
            <ul>
              <li>Jump start a promising idea</li>
              <li>Identify latent wants and needs</li>
              <li>Define a new value proposition</li>
              <li>Establish a new brand</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="services__item services__item--develop reveal-hidden">
        {% include 'icons/service-develop.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Strategy</h4>
          <p class="services__summary">Develop promising ideas</p>
          <div class="services__detail prose">
            <p>
              Bridging the gap between strategy and reality, we work at pace to turn your strongest business ideas into potential products and services.
            </p>
            <ul>
              <li>Raise new funding (investor deck)</li>
              <li>Evaluate and determine for product/market fit</li>
              <li>Shape a minimum movable product</li>
              <li>Define a roadmap</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="services__item services__item--distinguish reveal-hidden">
        {% include 'icons/service-distinguish.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Experience</h4>
          <p class="services__summary">Distinguish you from the pack</p>
          <div class="services__detail prose">
            <p>
              With your focus clear, we shape complementary user experiences that delight your customers, create new value and put distance between you and your rivals.
            </p>
            <ul>
              <li>Prototype an intuitive, delightful experience</li>
              <li>Evaluate solutions with customers</li>
              <li>Connecting your experience and brand</li>
              <li>Support launch and scaling</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slat funding mb-2 mt-2">
  <div class="slat__container funding__container">
    <p class="funding__intro">We’re committed to supporting innovation from all backgrounds and operate a flexible approach to funding. Alongside traditional fee-for-service projects, we welcome equity-exchange and revenue-share terms.</p>
    <div class="funding__panel reveal-hidden">
      <div class="funding__option">
        <h4 class="funding__type">Fee-for-service</h4>
        <p class="funding__summary">You invest <em>your</em> capital in return for our expertise</p>
        <p class="funding__description">The traditional agency model, fee-for-service is a good match for established organisations looking to explore new markets and incubate new ideas. Or, investors who recognise the need for external design expertise to unlock the potential in their portfolio.</p>
      </div>
      <div class="funding__option">
        <h4 class="funding__type">Equity-for-service</h4>
        <p class="funding__summary">We invest <em>our</em> expertise in exchange for equity.</p>
        <p class="funding__description">​​Created for early-stage businesses looking to become investment-ready or take the next leap forward, even though capital is not yet abundant. Comes in various flavours (equity, profit/royalty share) and can also be combined with fee-for-service</p>
      </div>
    </div>
  </div>
</div>


<div class="slat mb-1">
  <div class="slat__container teaser-testimonial">
    {% component 'teaser.njk', { slug: teasers[2], class: 'reveal-hidden' } %}
    {% component 'testimonial.njk', {
      class: 'reveal-hidden',
      quote: 'Berst were able to get seriously under the skin of a problem. Producing deep and provocative insight and creative artistry to a much greater depth than the ‘typical’ contractor / agency.',
      cite: {
        name: 'Yani Petrova',
        role: 'Product Lead',
        client: 'Babylon Health',
        img: '/img/tmp-avatar.png'
      }
    } %}
  </div>
</div>


<div class="slat slat--alt about">
  <div class="slat__container about__container">
    <div class="prose about__text">
      <p class="text-intro">Combining the spirit of a startup with the creativity of a design studio, we like to get down in the trenches, work alongside our partners and turn fledgling ideas into pioneering digital businesses.</p>
      <p>Founders James Bates and James Box have worked in the design industry for two decades, helping organisations deliver and grow high-profile, breakthrough digital products. Their sweet spot has always been rapid innovation and in 2018 they narrowed their focus and created Berst.</p>
      <p>Born as a venture design studio, we are at our best partnering with individuals and teams with the courage and determination to think differently. Those prepared to go beyond the familiar and take a brave leap forward.</p>
    </div>
  </div>
</div>
