---
title: A Venture Design Studio
layout: home
teasers:
  - meraki-travel
  - babylon-health
  - virgin-holidays
---

<div class="slat">
  <div class="slat__container teaser-pair pt-2 mb-1">
    {% component 'teaser.njk', { slug: teasers[0], class: 'reveal-hidden' } %}
    {% component 'teaser.njk', { slug: teasers[1], class: 'reveal-hidden' } %}
  </div>
</div>

<div class="slat slat--alt-corners services mb-1">
  <div class="slat__container services__container">
    <p class="services__intro">
      Working in sharp, punchy engagements, we use the best of Lean Startup, human–centred design and product strategy to help our partners build better businesses.
    </p>
    <div class="services__panel">
      <div class="services__item services__item--identify reveal-hidden">
        {% include 'icons/service-identify.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Vision</h4>
          <p class="services__summary">Spot new opportunities</p>
          <div class="services__detail prose">
            <p>
              All markets have blindspots, and people always have unmet needs. We map and explore your space to reveal exciting new possibilities.
            </p>
          </div>
        </div>
      </div>
      <div class="services__item services__item--develop reveal-hidden">
        {% include 'icons/service-develop.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Strategy</h4>
          <p class="services__summary">Develop promising ideas</p>
          <div class="services__detail prose">
            <p>
              Bridging the gap between strategy and reality, we work at pace to turn your strongest business ideas into viable products and services.
            </p>
          </div>
        </div>
      </div>
      <div class="services__item services__item--distinguish reveal-hidden">
        {% include 'icons/service-distinguish.svg' %}
        <div class="services__item-container">
          <h4 class="services__type">Experience</h4>
          <p class="services__summary">Stand out from the pack</p>
          <div class="services__detail prose">
            <p>
              We shape brand experiences that delight your customers, create new value and put distance between you and your rivals.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slat funding mb-2 mt-2">
  <div class="slat__container funding__container">
    <p class="funding__intro">We work with ambitious teams of all shapes and sizes, and take a flexible approach to funding. Alongside traditional fee-based projects, we welcome value-share partnerships.</p>
    <div class="funding__panel reveal-hidden">
      <div class="funding__option">
        <h4 class="funding__type">Fee-based</h4>
        <p class="funding__summary"><em>You invest your capital in return for our expertise</em></p>
        <p class="funding__description">If you’re an established organisation looking to explore new markets and grow new ideas, this traditional agency model is a good match. It also suits investors who recognise the need for design expertise to unlock greater potential in their portfolio.</p>
      </div>
      <div class="funding__option">
        <h4 class="funding__type">Value-share</h4>
        <p class="funding__summary"><em>We invest our expertise in exchange for a share in your success</em></p>
        <p class="funding__description">​​Preferred by early-stage businesses looking to become investment-ready or take the next leap, when capital is often in short supply. Comes in various flavours (equity or profit/royalty share) and can also be combined with fees – we find the best approach for each partner.</p>
      </div>
    </div>
  </div>
</div>


<div class="slat mb-1">
  <div class="slat__container teaser-testimonial">
    {% component 'teaser.njk', { slug: teasers[2], class: 'reveal-hidden' } %}
  </div>
</div>


<div class="slat slat--alt about">
  <div class="slat__container about__container">
    <div class="prose about__text">
      <p class="text-intro">Combining the spirit of a startup with the creativity of a design studio, we like to get down in the trenches and work alongside our partners to turn fledgling ideas into pioneering digital businesses.</p>
      <p>Founders James Bates and James Box have worked in the design industry for over two decades, helping organisations deliver and grow high-profile, breakthrough digital products. Their sweet spot has always been rapid innovation, and in 2018 they narrowed their focus and created Berst.</p>
      <p>As a venture design studio, we’re at our best working with individuals and teams who are determined to think differently and take a brave leap forward.</p>
    </div>
  </div>
</div>
