// sitewide -----------------

.slat {
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  &__container {
    max-width: $breakpoint-max;
    margin: 0 auto;
  }

  &--alt {
    background-color: $color-grey-lightest;
  }
}

.header {
  &__container {
    display: flex;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 58px;
    position: relative;
  }

  &__logo {
    width: 140px;
    position: absolute;
    left: 0;
    top: 64px;
  }

  &__contact {
    margin-left: auto;
  }

  &--aquamarine {
    background-color: $color-aquamarine;
  }
}

.footer {
  background-color: $color-blue-bright;
  color: $color-white;
  &__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

// specific -----------------

.intro {
  padding-top: 64px;
  padding-bottom: 64px;

  &__title {
    font-family: $font-stack-display;
    font-weight: 900;
    font-size: 92px;
    word-spacing: 1000px;
    line-height: 1;
    color: $color-blue-dark;
  }

  &__strapline {
    align-self: end;
    padding-bottom: 18px;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__title {
      @include span(2, 6);
    }
    &__strapline {
      @include span(6);
    }
  }

  @media all and (min-width: $breakpoint-large) {
    &__title {
      @include span(3, 6);
    }
  }
}

.teaser {
  &__img {
    width: 100%;
  }
}

.article {
  padding: {
    top: 128px;
    bottom: 128px;
  }

  &__title {
  }
}
