@import 'normalize-scss/sass/normalize/import-now';
@import './lib';
@import './setup';
@import './grid';
@import './fonts';
@import './utils';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-stack-body;
  line-height: 1.4;
  font-size: 18px;
  color: $color-grey-dark;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

blockquote {
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $color-blue-bright;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  @extend .heading-xxl;
}

.heading-personality {
  @include font-size(64px, 78px, 92px);
  font-family: $font-stack-display;
  font-weight: 900;
  line-height: 1;
  color: $color-blue-dark;
}

.heading-xxl {
  @include font-size(38px, 54px, 64px);
  font-weight: 400;
  color: $color-blue-bright;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.heading-xl {
  @include font-size(38px, 45px, 54px);
  color: $color-blue-bright;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.heading-l {
  @include font-size(32px, 32px, 38px);
  color: $color-blue-dark;
  font-weight: 500;
  line-height: 1.2;
}

.heading-m {
  @include font-size(22px, 26px, 26px);
  color: $color-blue-dark;
  font-weight: 500;
  line-height: 1.2;
}

.heading-s {
  @include font-size(18px, 20px, 22px);
  color: $color-blue-dark;
  font-weight: 500;
  line-height: 1.2;
}

.text-intro {
  @include font-size(26px, 32px, 38px);
  color: $color-grey-light;
  line-height: 1.4;
  strong {
    font-weight: normal;
    color: $color-grey-dark;
  }
}

.text-body-xl {
  @include font-size(22px, 26px, 32px);
  color: $color-grey-mid;
  line-height: 1.7;
}

.text-body-l {
  @include font-size(18px, 20px, 22px);
  color: $color-blue-dark;
  line-height: 1.7;
}

.text-body-m {
  @include font-size(16px, 18px, 18px);
  color: $color-grey-dark;
  line-height: 1.7;
}

.text-body-s {
  @include font-size(15px, 16px, 16px);
  color: $color-grey-mid;
}

@import './components/article';
@import './components/figure';
@import './components/footer';
@import './components/intro';
@import './components/layout';
@import './components/masthead';
@import './components/next';
@import './components/overview';
@import './components/prose';
@import './components/slat';
@import './components/teaser';
@import './components/testimonial';
