$color-blue-bright: #0101ff;
$color-blue-dark: #040a6c;
$color-grey-lightest: #f7f8fa;
$color-grey-light: #878a98;
$color-grey-mid: #595a61;
$color-grey-dark: #181929;
$color-red: #fd4531;
$color-aquamarine: #aafee6;
$color-white: #fff;
$color-text: $color-grey-dark;

// @include tween('padding-left', 26px, 54px, 60px);
// @include tween('padding-right', 26px, 54px, 60px);

$breakpoint-medium: 480px + 26px;
$breakpoint-medlarge: 620px + 54px;
$breakpoint-large: 768px + 54px;
$breakpoint-larger: 880px + 54px;
$breakpoint-xlarge: 1024px + 60px;
$breakpoint-xlarger: 1180px + 60px;
$breakpoint-max: 1274px + 60px;

$breakpoints: (
  medium: $breakpoint-medium,
  medlarge: $breakpoint-medlarge,
  large: $breakpoint-large,
  larger: $breakpoint-larger,
  xlarge: $breakpoint-xlarge,
  xlarger: $breakpoint-xlarger,
  max: $breakpoint-max
);

$grid-gutter-three-col: 26px;
$grid-gutter-six-col: 38px;
$grid-gutter-eight-col: 54px;

$font-stack-body: Apercu, -apple-system, BlinkMacSystemFont, sans-serif;
$font-stack-display: Mirador, Georgia, serif;

@mixin tween($property, $min, $med, $max) {
  @include poly-fluid-sizing(
    $property,
    (
      375px: $min,
      $breakpoint-large: $med,
      $breakpoint-xlarge: $max
    )
  );
}

@mixin font-size($min, $med, $max) {
  @include tween('font-size', $min, $med, $max);
}
