.pt-1 {
  @include tween('padding-top', 45px, 64px, 92px, true);
}

.pb-1 {
  @include tween('padding-bottom', 45px, 64px, 92px, true);
}

.px-1 {
  @extend .pt-1;
  @extend .pb-1;
}

.pt-2 {
  @include tween('padding-top', 64px, 92px, 160px, true);
}

.pb-2 {
  @include tween('padding-bottom', 64px, 92px, 160px, true);
}

.px-2 {
  @extend .pt-2;
  @extend .pb-2;
}

.mt-1 {
  @include tween('margin-top', 45px, 64px, 92px, true);
}

.mb-1 {
  @include tween('margin-bottom', 45px, 64px, 92px, true);
}

.mx-1 {
  @extend .mt-1;
  @extend .mb-1;
}

.mt-2 {
  @include tween('margin-top', 64px, 92px, 160px, true);
}

.mb-2 {
  @include tween('margin-bottom', 64px, 92px, 160px, true);
}

.mx-2 {
  @extend .mt-2;
  @extend .mb-2;
}

.bleed-right {
  margin-right: $grid-gutter * -1;
  @media all and (min-width: $breakpoint-large) {
    margin-right: $grid-gutter-large * -1;
  }
  @media all and (min-width: $breakpoint-xlarge) {
    margin-right: $grid-gutter-xlarge * -1;
  }
}

.bleed-left {
  margin-left: $grid-gutter * -1;
  @media all and (min-width: $breakpoint-large) {
    margin-left: $grid-gutter-large * -1;
  }
  @media all and (min-width: $breakpoint-xlarge) {
    margin-left: $grid-gutter-xlarge * -1;
  }
}
