---
layout: skeleton
layoutVariant: home
---

<div class="layout__header slat">
  <div class="slat__container">
    {% component 'masthead' %}
    <div class="intro">
      <div class="intro__container">
        <h1 class="intro__title"><span class="reveal-hidden">A</span> <span class="reveal-hidden">venture</span> <span class="reveal-hidden">design</span> <span class="reveal-hidden">studio.</span></h1>
        <p class="intro__strapline">
          We partner with <a href="/founders">founders</a>, <a href="/innovators">innovators</a>, <a href="/investors">investors</a> and <a href="/investors">leadership</a> teams to imagine and invent original digital products.
        </p>
      </div>
    </div>
  </div>
</div>

<main class="layout__main">
{{ content | safe }}
</main>
