---
layout: skeleton
headerVariant: aquamarine
---
<div class="slat">
  <grid class="slat__container">
    <cell span="2-7">
      <article class="article">
        <h1 class="article__title">{{ title }}</h1>

        <section class="article__content prose">
          {{ content | safe }}
        </div>
      </article>
    </cell>
  </grid>
</div>
