---
layout: skeleton
layoutVariant: page
---

<div class="layout__header slat">
  <div class="slat__container">
  {% component 'masthead' %}
  </div>
</div>

<main class="layout__main">
  <div class="slat">
    <article class="slat__container article">
      <div class="article__content">
        <h1 class="article__title">{{ title }}</h1>
        <div class="article__body prose">
          {{ content | safe }}
        </div>
      </div>
    </article>
  </div>
</main>
