---
layout: skeleton
layoutVariant: page
---

<div class="layout__header slat">
  <div class="slat__container">
  {% component 'masthead' %}
  </div>
</div>

<main class="layout__main">
  <div class="slat">
    <grid class="slat__container">
      <cell span="2-7">
        <article class="article">
          <h1 class="article__title">{{ title }}</h1>

          <section class="article__content prose">
            {{ content | safe }}
          </div>
        </article>
      </cell>
    </grid>
  </div>
</main>
