---
layout: skeleton
layoutVariant: project
---

<div class="layout__header slat"{% if images and images.hero %} style="background-image: url('{{ images.hero }}')"{% endif %}>
  <div class="slat__container">
    {% component 'masthead' %}

    <section class="overview">
      <div class="overview__main">
        <span class="overview__client">{{ client }}</span>
        <h1 class="overview__title">{{ title }}</h1>

        {% if intro %}
        <div class="overview__intro">
        {{ intro | markdown | safe }}
        </div>
        {% endif %}

      </div>
      <aside class="overview__aside">
        <h4 class="overview__what">What we did</h4>

        {% if duration or launched %}
        <ul class="overview__meta">
          {% if duration %}<li>{{ duration }} duration</li>{% endif %}
          {% if launched %}<li>Launched in {{ launched }}</li>{% endif %}
        </ul>
        {% endif %}

        {% if services %}
        <ul class="overview__meta">
        {% for service in services %}
          <li>_{{ service }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if websiteUrl %}<a class="overview__link" href="{{ websiteUrl }}">{{ websiteUrl | domain }}</a>{% endif %}

        {% if logo %}
          <img class="overview__logo" src="{{ logo }}" alt="{{ client }} logo">
        {% endif %}
      </aside>

    </section>
  </div>
</div>

<main class="layout__main">
  <div class="slat">
    <div class="slat__container">



    </div>
  </div>

  {{ content | safe }}

  {% if next %}
  {% set nextProject = collections.projects | findBySlug(next) %}
  {% if nextProject %}
  <div class="slat slat--alt">
    <grid class="slat__container">
      <cell span="row">
        <a href="{{ nextProject.url }}" class="next">
          <span class="next__link">
            Next project
            <svg class="next__arrow" viewBox="0 0 84 48" xmlns="http://www.w3.org/2000/svg"><path d="M84 24L59.621 48V28.4H0v-8.852h59.621L59.673 0z" fill="#040A6C" fill-rule="nonzero"/></svg>
          </span>
          <p class="next__title">
            {{ nextProject.data.title }}
          </p>
        </a>
      </cell>
    </grid>
  </div>
  {% endif %}
  {% endif %}
</main>
