---
layout: skeleton
layoutVariant: project
---

<div class="layout__header slat"{% if images and images.hero %} style="background-image: url('{{ images.hero }}')"{% endif %}>
  <div class="slat__container">
    {% component 'masthead' %}

    <section class="overview">
      <div class="overview__main">
        <span class="overview__client">{{ client }}</span>
        <h1 class="overview__title">{{ title }}</h1>

        {% if intro %}
        <div class="overview__intro">
        {{ intro | markdown | safe }}
        </div>
        {% endif %}

      </div>
      <aside class="overview__aside">
        <h4 class="overview__what">What we did</h4>

        {% if duration or launched %}
        <ul class="overview__meta">
          {% if duration %}<li>{{ duration }} duration</li>{% endif %}
          {% if launched %}<li>Launched in {{ launched }}</li>{% endif %}
        </ul>
        {% endif %}

        {% if services %}
        <ul class="overview__meta">
        {% for service in services %}
          <li>{{ service }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if websiteUrl %}
        <a class="overview__link" href="{{ websiteUrl }}">
          <span>{{ websiteUrl | domain }}</span>
          {% include "icons/arrow-right.svg" %}
        </a>
        {% endif %}

        {% if logo %}
          <img class="overview__logo" src="{{ logo }}" alt="{{ client }} logo">
        {% endif %}
      </aside>

    </section>
  </div>
</div>

<main class="layout__main">

  {{ content | safe }}

  {% if next %}
  {% set nextProject = collections.projects | findBySlug(next) %}
  {% if nextProject %}
  <div class="slat slat--alt">
    <div class="slat__container next">
      <a href="{{ nextProject.url }}" class="next__container">
        <span class="next__label">Next project</span>
        <h4 class="next__title">{{ nextProject.data.title }}</h4>
        <p class="next__client">
          <span>{{ nextProject.data.client }}</span>
          {% include "icons/arrow-right.svg" %}
        </p>
      </a>
    </div>
  </div>
  {% endif %}
  {% endif %}
</main>
