<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <script>if(document.documentElement){document.documentElement.className='has-js';}</script>
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }} | Berst</title>
</head>
<body class="layout layout--{{ layoutVariant }}">

  {{ content | safe }}

  <footer class="slat footer">
    <div class="slat__container footer__container">

      <div class="footer__contact">
        <span>Partner with us.</span>
        <a href="mailto:hello@ber.st">hello@ber.st</a>
      </div>

      <div class="footer__aside">
        <div class="footer__company" style="margin-top: 12px !important">
          <p>
            Berst Limited <br>
            28 Fourth Avenue, Hove, East Sussex.<br>
            BN3 2PJ
          </p>
          <p>Registered Company Number:<br>0987657654</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/main.js"></script>

</body>
</html>
